
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
IndentPPDirectives: None
IndentWrappedFunctionNames: false
PointerAlignment: Left
AllowShortIfStatementsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes

